.form-overlay{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.521);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    background: white;
    position: relative;
    padding: 24px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.form-container form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.request-form-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.request-form-heading img{
    width: 100px;
    height: 100px;
    padding-right: 20px;
}

.header-color{
    border-bottom: 4px solid #FFDC70;
    padding-bottom: 20px;
    /* margin-top: 50px; */
    margin-bottom: 20px;

}
