.container-prodListing {
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
    /* height: 100vh; */
    padding-top: 50px;
}

.prod-img-container img{
    height: 450px;
    width: 525px;
}

.deliver-request-box button{
    padding: 8px 16px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #1E1066;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.container-prodListing {
    display: flex;
    flex-direction: row;
}

.right-container {
    padding-left: 100px;
}

.vendor-reviews-container{
    padding-top: 45px;
    
}
.total-review-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 45px;
}

.customer-review-container {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}
.reviewer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(90, 90, 90);
}
.customer-stars{
    padding-bottom: 10px;
}