.listings-page {
  margin: 0 auto;
}

.listing-formatting {
  /* padding: 0 80rem; */
  max-width: 1000px;
  margin: 0 auto;
}


.title {
  font-size: 3rem;
  font-weight: bold;
  border-bottom: 4px solid gold;
  display: inline-block;
  text-align: center;
}



.listings-header {
  background-color: #ffe066;
  padding: 2rem 1rem;
  text-align: center;
  width: 100%;
}

.listings-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.button-wrapper {
  margin: 1rem auto;
  background-color: #d9d9d9;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-align: center;
}


.listings-container {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 20px;
}

.listing-card {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #333;
  padding-bottom: 1rem;
}

.listing-img {
  width: 100px;
  height: 100px;
  background: lightgray;
  margin-right: 1rem;
}

.listing-info {
  flex: 1;
}

.buttons {
  margin-top: 1rem;
}

.delete-btn {
  background: #ff5f5f;
  border: none;
  color: black;
  padding: 0.5rem 1.2rem;
  font-weight: bold;
  border-radius: 4px;
  margin-right: 1rem;
  cursor: pointer;
}

.sold-btn {
  background: #2f1364;
  border: none;
  color: white;
  padding: 0.5rem 1.2rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.os-back-btn {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: 1.5rem; 
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
    text-align: center;
  }

  .listing-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .listing-info {
    width: 100%;
    padding: 0 1rem;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
  }

  .create-button {
    font-size: 18px;
  }

  .delete-btn,
  .sold-btn {
    width: 100%;
    font-size: 16px;
  }

  .os-back-btn {
    width: 100%;
    font-size: 16px;
  }
}